@charset "UTF-8";


body {
	
}

.wrap {
	width: 550px;
	text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

table {
	
}

td {
	height: 50px;
	paddig-left: 10px;
	padding-right: 10px;
}

h1 {
	color: gray;
}

span {
	font-size: 5px;
	color: gray;
}

.title {
	border-left: 3px solid lightgray;
	font-weight: bold;
	padding-left: 10px;
}

.essential {
	font-weight: bold;
	color: red;
}

.btn_fin {
	width: 50px;
	height: 25px;
}

select {
	height: 21px;
}

input[type=submit] {
	width: 150px;
	height: 50px;
	background-color: rgb(50, 50, 50);
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

input[type=button]:nth-child(2) {
	background-color: rgb(50, 50, 50);
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

input[type=button]:nth-child(3) {
	background-color: rgb(50, 50, 50);
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

input[type=button]:nth-child(4) {
	width: 150px;
	height: 50px;
	background-color: rgb(50, 50, 50);
	color: white;
	font-weight: bold;
	border-radius: 5px;
}